.search-box {
    width: 100%;
    /* background-color: #BDDEA7;
    border: .5px rgb(25, 151, 25) solid; */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}
